<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Caso. Enfermedad Cardíaca</h1>
          <p>Descripción:</p>
          <p><button class="btn btn-lg btn-primary" (click)="goToBlog('Enfermedad Cardíaca')">Ver más</button></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Caso. Predicción de valores inmobiliarios</h1>
          <p>Descripción:</p>
          <p><a class="btn btn-lg btn-primary" (click)="goToBlog('Predicción de valores inmobiliarios')">Ver más</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Caso. Predicción de altura según restos óseos</h1>
          <p>Descripción:</p>
          <p><a class="btn btn-lg btn-primary" (click)="goToBlog('Predicción de altura según restos óseos')">Ver más</a></p>
        </div>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <h2>CRISP-DM</h2>
      <p>Ejemplos que muestran preparación de datos</p>
      <p><button class="btn btn-secondary" (click)="goToMenu('CRISP-DM')"> Ver más &raquo;</button></p>
    </div>
    <div class="col-lg-4">
      <h2>Algoritmos lineales</h2>
      <p>Ejercicios resueltos con regresión lineal, regresión logística y LDA</p>
      <p><a class="btn btn-secondary"  (click)="goToMenu('Algoritmos lineales')"> Ver más &raquo; </a></p>
    </div>
    <div class="col-lg-4">
      <h2>Algoritmos no lineales</h2>
      <p>Escenerios en los que se emplean árboles de clasificación y regresión, SVM, Naive Bayes, K-Nearest Neighbors y Feature Selection</p>
      <p><a class="btn btn-secondary"  (click)="goToMenu('Algoritmos no lineales')"> Ver más &raquo;</a></p>
    </div>
  </div>

  <hr>

</div>
