<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>  
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner"> 
    <div id="bg1" class="carousel-item active">
        <div class="carousel-caption text-start">
        <h4>Caso</h4>
        <h1>Propiedades en Ames Iowa</h1>
        <button class="btn btn-lg btn-primary" (click)="goToBlog('Propiedades en Ames Iowa')">Ver más</button>
      </div>
    </div>
    <div id="bg2" class="carousel-item">
      <div class="carousel-caption text-start">
        <h4>Caso</h4>
        <h1>Enfermedad Cardíaca</h1>
        <button class="btn btn-lg btn-primary" (click)="goToBlog('Enfermedad Cardíaca')">Ver más</button>          
      </div>
    </div>
    <div id="bg3" class="carousel-item">
      <div class="carousel-caption text-start">
        <h4>Caso</h4>
        <h1>Segmentación de clientes</h1>
        <button class="btn btn-lg btn-primary" (click)="goToBlog('Segmentación de clientes')">Ver más</button>          
    </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing">
  <div class="row">
    <hr>
    <div class="col-lg-4">
      <h4>Preparación de datos</h4>
      <p class="menuText">Escenarios que muestran manejo de missing values, outliers, transformaciones y selección de atributos.</p>
      <p class="menuText"><button class="btn btn-primary" (click)="goToMenu('Preparación de datos')"> Ver más &raquo;</button></p>
    </div>
    <div class="col-lg-4">
      <h4>Algoritmos lineales</h4>
      <p class="menuText">Ejercicios con Regresión Lineal, Regresión Logística y Linear Discriminant Analysis.</p>
      <p class="menuText"><a class="btn btn-primary"  (click)="goToMenu('Algoritmos lineales')"> Ver más &raquo; </a></p>
    </div>
    <div class="col-lg-4">
      <h4>Algoritmos no lineales</h4>
      <p class="menuText">Estudio de algoritmos Bagging, Random Forest, Boosting y Ada Boost</p>
      <p class="menuText"><a class="btn btn-primary"  (click)="goToMenu('Algoritmos no lineales')"> Ver más &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h4>No supervisado</h4>
      <p class="menuText">Proyectos con métodos de clustering y Principal Component Analysis.</p>
      <p class="menuText"><a class="btn btn-primary"  (click)="goToMenu('No supervisado')"> Ver más &raquo; </a></p>
    </div>
    <div class="col-lg-4">
      <h4>Ensambles</h4>
      <p class="menuText">Estudio de algoritmos Bagging, Random Forest, Boosting y Ada Boost</p>
      <p class="menuText"><a class="btn btn-primary" (click)="goToBlog('Ensambles')"> Ver más &raquo;</a></p>
    </div>
    <hr>
  </div>
  <br>
</div>
