<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>  
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner"> 
    <div id="bg1" class="carousel-item active">
        <div class="carousel-caption text-start">
        <h4 class="case" >Study Cases</h4>
        <h1 id="case1">Ames housing</h1>
        <button class="btn btn-lg btn-primary more" (click)="goToBlog('Bienes raíces en Ames Iowa')">Show more</button>
      </div>
    </div>
    <div id="bg2" class="carousel-item">
      <div class="carousel-caption text-start">
        <h4 class="case">Case</h4>
        <h1 id="case2">Heart disease</h1>
        <button class="btn btn-lg btn-primary more" (click)="goToBlog('Enfermedad cardíaca')">Show more</button>          
      </div>
    </div>
    <div id="bg3" class="carousel-item">
      <div class="carousel-caption text-start">
        <h4 class="case">Case</h4>
        <h1 id="case3">Customer segmentation</h1>
        <button class="btn btn-lg btn-primary more" (click)="goToBlog('Segmentación de clientes')">Show more</button>          
    </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing">
  <div class="row">
    <hr>
    <div class="col-lg-4">
      <h4 id="title11">Data preparation</h4>
      <p id="title12" class="menuText">Projects with missing values, outliers, transformations, attribute selection, etc.</p>
      <p class="menuText"><button class="btn btn-primary more" (click)="goToMenu('Data preparation')"> Show more</button></p>
    </div>
    <hr class="mobile">
    <div class="col-lg-4">
      <h4 id="title13">Linear algorithms</h4>
      <p id="title14" class="menuText">Exercises with Linear Regression, Logistic Regression and Linear Discriminant Analysis.</p>
      <p class="menuText"><button class="btn btn-primary more" (click)="goToMenu('Linear algorithms')"> Show more</button></p>
    </div>
    <hr class="mobile">
    <div class="col-lg-4">
      <h4 id="title15">Non linear algorithms</h4>
      <p id="title16" class="menuText">Problems with Decision Trees, Naive Bayes, Support Vector Machines and K-Nearest Neighbors.</p>
      <p class="menuText"><button class="btn btn-primary more"  (click)="goToMenu('Non linear algorithms')"> Show more</button></p>
    </div>
    <hr class="mobile">
    <div class="col-lg-4">
      <h4 id="title17">Unsupervised</h4>
      <p id="title18" class="menuText">Studies with clustering methods and Principal Component Analysis.</p>
      <p class="menuText"><button class="btn btn-primary more"  (click)="goToMenu('Unsupervised')"> Show more</button></p>
    </div>
    <hr class="mobile">
    <div class="col-lg-4">
      <h4 id="title19">Ensembles</h4>
      <p id="title110" class="menuText">Analysis of Bagging, Random Forest, Boosting and Ada Boost algorithms.</p>
      <p class="menuText"><button class="btn btn-primary more" (click)="goToBlog('Ensambles')"> Show more</button></p>
    </div>
    <hr>
  </div>
</div>
