<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <h2>TA1</h2>
        <p>Descripción:</p>
        <p><button class="btn btn-secondary" href="#">Ver más &raquo;</button></p>
      </div>
  
      <div class="col-lg-4">
        <h2>TA2</h2>
        <p>Descripción:</p>
        <p><a class="btn btn-secondary" href="#">Ver más &raquo;</a></p>
      </div>
      
      <div class="col-lg-4">
        <h2>TA3</h2>
        <p>Descripción:</p>
        <p><a class="btn btn-secondary" href="#">Ver más &raquo;</a></p>
      </div>
    </div>
</div>