<div class="container">
  <div>
    <h1>CRISP-DM</h1>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        
        <h2>TA1</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><button class="btn btn-primary" (click)="goToPage('blog')"> Ver más</button></p>
      </div>

      <div class="col-lg-4">
        <h2>TA2</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><a class="btn btn-primary" href="#">Ver más</a></p>
      </div>
      
      <div class="col-lg-4">
        <h2>TA3</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><a class="btn btn-primary" href="#">Ver más</a></p>
      </div>

      <div class="col-lg-4">
        <h2>PD1</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><button class="btn btn-primary" href="#">Ver más</button></p>
      </div>
  
      <div class="col-lg-4">
        <h2>PD2</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><a class="btn btn-primary" href="#">Ver más</a></p>
      </div>
      
      <div class="col-lg-4">
        <h2>PD3</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><a class="btn btn-primary" href="#">Ver más</a></p>
      </div>

      <div class="col-lg-4">
        <h2>TA1</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><button class="btn btn-primary" href="#">Ver más</button></p>
      </div>
  
      <div class="col-lg-4">
        <h2>TA2</h2>
        <div>
          <p>Descripción:</p>
        </div>
        <p><a class="btn btn-primary" href="#">Ver más</a></p>
      </div>
    </div>
  </div>
</div>