
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing.col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 8%;
}

#menus {
  margin: auto;
  width: 60%;
  padding: 2px;
  inline-size: 750px;
  overflow-wrap: break-word;

}

#descCont{
  margin: auto;
  width: 60%;
  inline-size: 750px;
  overflow-wrap: break-word;
}


h1{
  color: white;
}

p{
  color: white;
}

hr{
  color: white;
}
