
a:hover{
  cursor: pointer;
  font-weight:500;
}

div.dropdown{
  margin-top: 5px;
  margin-right: 6%;
}

button{
  background-color:#212529;
  padding: 2pt;
  padding-left: 2%;
  padding-right: 2%;
}

li{
  background-color: #212529;
  border-color: #212529;
}

a{
  color: white;
}

ul{
  padding: 0pt;
  border: 0pt;
}

img{
  margin-top: 17px;
  margin-right: 2px;
  width: 30px;
  height: 30px;
}

img:hover{
  opacity: 50%;
}

#pipe{
  margin-top: 11px;
  margin-left: 4px;
  margin-right: 11px;
}

#form-container{
  justify-content: center;
}

.lang{
  margin-top: -20px;
}

#myname{
  margin-top: 11px;
  margin-right: 7px;
}

#container{
  padding-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav{
  width: 100%;
  border-bottom: solid thin white;
  position: relative;
  position: fixed;
  padding: 0px;
  margin: 0px;
  border: 0px;
}


nav.sticky-navbar{
  opacity: 0.9;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header{
  width: 100%;
}

div{
  background-color: rgb(22, 25, 27);
}

.dropdown-menu{
  border: solid thin rgb(255, 255, 255, .25);
}

.dropdown-item{
  border: solid thin rgb(255, 255, 255, .25)  ;
}

#row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 2%;
}


#leftContainer{
  justify-content: left;
}

#navbarCollapse{
  justify-content: right;
}

@media (min-width: 900px) {
  #title, #pipe{
    display: block;
  }
  #title00, .separator{
    display: none;
  }
}

@media (max-width: 900px) {
  #title00, .separator{
    display: block;
  }
  #title, #pipe{
    display: none;
  }
}
@media (max-width: 767px) {
  #navbarCollapse{
    padding-top: 15px;
  }
  .lang{
    margin-top: -7px;
  }
  #container{
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #myname{
    margin-top: -5px;
  }
  img{
    margin-top: 0px;
  }
}

.navbar-toggler{
  margin-top: 2%;
  margin-bottom: 2%;
}

#title00{
  margin-right: 10%;
}

#title{
  margin-right: 8%;
}

.separator{
  color: white;
  opacity: 0.25;
  margin-top: 2%;
  margin-bottom: 2%;
}

#navbarCollapse {
  padding: 0%;
}

.navbar-brand{
  margin-right: 5px;
}