a:hover{
  cursor: pointer;
  font-weight:500;
}

div.dropdown{
  margin-top: 5px;
  margin-right: 15px;
}

button{
  background-color:#212529;
  padding: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
}

li{
  background-color: #212529;
  border-color: #212529;
}

a{
  color: white;
}

ul{
  padding: 0pt;
  border: 0pt;
}

img{
  margin-top: 9px;
  margin-right: 2px;
  width: 30px;
  height: 30px;
}

img:hover{
  opacity: 50%;
}

#pipe{
  margin-top: 5px;
}

#form-container{
  justify-content: center;
  margin-top: 10px;
}

#myname{
  margin-top: 5px;
}

#container{
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav{
  width: 100%;
  border-bottom: solid thin white;
  position: relative;
  position: fixed;
  padding: 0ch;
}

nav.sticky-navbar{
  opacity: 0.9;
}

header{
  width: 100%;
}

div{
  background-color: rgb(22, 25, 27);
}

.dropdown-menu{
  border: solid thin white;
}

.dropdown-item{
  border: solid thin white;
}

#row{
  display: flex;
  flex-direction: row;
  justify-content: left;
}


#leftContainer{
  justify-content: left;
}

#navbarCollapse{
  justify-content: right;
}

@media (min-width: 500px) {
  #title {
    display: block;
  }
  #title2 {
    display: none;
  }
}
@media (max-width: 500px) {
  #title2 {
    display: block;
  }
  #title {
    display: none;
  }
}
